<!-- navigation bar for issue tracker -->
<nav class="navigation-bar">
    <div class="logo">Issue (Bug) Tracker</div>
    <div class="menu">
        <ul>
            <li><a href="/issue_tracker">Home</a></li>
            <li><a href="/issue_tracker/create_project">Create Project</a></li>
        </ul>
    </div>
</nav>
<!-- end navigation bar -->